<section class="card">
  <a href="/cat/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
    <img src="/images/cat_images/{{filename}}" alt="{{name}}">
    <p>{{location}}</p>
    </div>
  </a>
</section>