<div>
  <title>FurEver Home Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</div>
<body>
  <header>
    <h1>Welcome to FurEver Home</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Select A Location</a></li>
        <li><a href="/cat">Find A Cat</a></li>
        <li><a href="/dog">Find A Dog</a></li>
        <li>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h2>Find Your Perfect Companion!</h2>
      <p>Select a location to explore our wide selection of adorable pets available for adoption.</p>
    </section>

    <div class="location">
      {{{body}}}
    </div>

    <section class="featured-pets">
      <h2>Featured Cuties!</h2>
    <div class="cat">
    <img src="/images/{{cat.filename}}" alt="{{cat.name}}">
    <div class="cat-details">
      <h3>{{cat.name}}</h3>
      <p>{{cat.location}}</p>
    </div>
    <img src="/images/{{cat.filename}}" alt="{{cat.name}}">
    <div class="cat-details">
      <h3>{{cat.name}}</h3>
      <p>{{cat.location}}</p>
    </div>
    </div>

    <div class="dog">
    <img src="/images/{{dog.filename}}" alt="{{dog.name}}">
    <div class="dog-details">
      <h3>{{dog.name}}</h3>
      <p>{{dog.location}}</p>
    </div>
    <img src="/images/{{dog.filename}}" alt="{{dog.name}}">
    <div class="dog-details">
      <h3>{{dog.name}}</h3>
      <p>{{dog.location}}</p>
    </div>
    </div>
    </section>
  </main>
 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
 {{/if}}
  <footer>
    <p>&copy; 2023 Pet Adoption. All rights reserved.</p>
  </footer>
</body>
</html>