<section class="dogs">
  <img src="/images/dog_images/{{dog.filename}}" alt="{{dog.name}}">
  <div class="dog-details">
    <h3>{{dog.name}}</h3>
    <p>About this cutie pie:</p>
    <p>Name: {{dog.name}}</p>
    <p>Breed: {{dog.breed}}</p>
    <p>Weight: {{dog.weight}}</p>
    <p>Coat Color: {{dog.coat_color}}</p>
    <p>Date of Arrival: {{format_date dog.arrival_date}}</p>
  </div>
</section>