<section class="dogs">
  <img src="/images/dog_images/{{dog.filename}}" alt="{{dog.name}}">
  <div class="dog-details">
    <h3>{{dog.name}}</h3>
    <p>About this cutie pie:</p>
    <br>
    <p>BREED: {{dog.breed}}</p>
    <p>WEIGHT: {{dog.weight}}</p>
    <p>COAT COLOR: {{dog.coat_color}}</p>
    <p>DATE OF ARRIVAL: {{format_date dog.arrival_date}}</p>
    <p>Stop by during operating hours to meet {{dog.name}}!</p>
  </div>
</section>