<section class="cats">
  <img src="/images/cat_images/{{cat.filename}}" alt="{{cat.name}}">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    <br>
    <p>About this cutie pie:</p>
    <br>
    <p>BREED: {{cat.breed}}</p>
    <p>WEIGHT: {{cat.weight}}</p>
    <p>COAT COLOR: {{cat.coat_color}}</p>
    <p>DATE OF ARRIVAL: {{format_date cat.arrival_date}}</p>
    <p>Stop by during operating hours to meet {{cat.name}}!</p>
  </div>
</section>