<section class="cats">
  <img src="/public/images/cat_image/{{cat.filename}}" alt="{{cat.name}}">
  <div class="cat-details">
    <h3>{{cat.name}}</h3>
    <p>About this cutie pie:</p>
    <p>Name: {{cat.name}}</p>
    <p>Breed: {{cat.breed}}</p>
    <p>Weight: {{cat.weight}}</p>
    <p>Coat Color: {{cat.coat_color}}</p>
    <p>Date of Arrival: {{format_date cat.arrival_date}}</p>
  </div>
</section>